/* buttons */
.run {
  background-color: #f8f9fa;
  box-sizing: inherit;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* text on buttons */
a {
  display: inline-block;
  padding-right: 8px;
  text-align: left;
}

/* map appears in the center */
.map {
  box-sizing: inherit;
  text-align: center;
  display: block;
}

/* make buttons and input boxes square */
.btn {
  background-color: #f8f9fa!important;
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0 !important;
}
